.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  background-color: #f0f0f0;
}

.dark{
  @apply bg-black;
}
